.container_box {
  background-color: #fbfbfb;
  border-radius: 10px;
  display: flex;
  width: 230px;
  padding: 32px;
  height: 90px;
  margin-bottom: 4%;
}

.stats_label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
}

.txt_stat {
  font-size: 20px;
  font-weight: 700;
}

.txt_label {
  font-size: 14px;
}
